@using AstWeb.Common.Models;
@{
    var user = ViewBag.user as W_Users;
    ViewBag.Title = user.NickName + "的家";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<style>

</style>
<div id="body" class="layui-container">
    <div class="page-title" unselectable="on" onselectstart="return false;">
        <div class="layui-container">
            <div class="title">
                <h2>
                    更改头像
                    <span class="line"></span>
                </h2>
            </div>
            <span class="title-eng">MY SITE</span>
        </div>
    </div>
    <div class="page-news page-bbs">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md2">
                </div>
                <div class="layui-col-md8">
                    <div class="moudle-card bbs-user">
                        <div class="page-form">
                            <div class="user-head"><img class="avatar-lg center-block layui-anim-loop" src="@user.HeadPortrait"></div>
                            <div class="user-name">
                                @user.NickName
                                @if (user.Gender == Gender.Man)
                                {
                                    <i class="layui-icon" style="color:#5FB878">&#xe662;</i>
                                }
                                else
                                {
                                    <i class="layui-icon" style="color:#f84b9c">&#xe661;</i>
                                }
                                <p style="color:#FF5722;font-weight:900;">@user.Title</p>
                            </div>
                            <a href="@Url.Action("Index","Account",new { userId=user.Id})" class="user-back"><i class="layui-icon"></i></a>
                            <div class="layui-form user-passwd" style="text-align:center">
                                <div class="layui-form-item">
                                    <div style="color:#a7a7a7">建议尺寸168*168，支持jpg、png、gif，最大不能超过50KB</div>
                                    <br />
                                    <div style="text-align:center" class="user-head">
                                        <img id="imgurl" class="avatar-lg center-block" src="@user.HeadPortrait">
                                        <span class="loading"></span>
                                    </div>
                                </div>
                                <div class="layui-form-item" style="text-align:center">
                                    <button class="layui-btn zb-btn" id="file">   <i class="layui-icon"></i>上传头像</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="layui-col-md2">
                </div>
            </div>
    </div>
</div>
@section scripts{
    <script>
        document.getElementById("s").style.animation
        layui.use(['form', 'layer', 'upload'], function () {
            var form = layui.form, layer = layui.layer, upload = layui.upload;
            var uploadInst = upload.render({
                elem: '#file' //绑定元素
                , url: '@Url.Action("Upload", "Account")' //上传接口
                , method: 'post'
                , size: 50
                , accept: 'jpg|png|gif'
                , done: function (res) {
                    if (res.status == 0) {
                        location.reload();
                    } else {
                        layer.msg(res.msg, { icon: 5 });
                    }
                }
                , error: function () {
                    avatarAdd.find('.loading').hide();
                }
            });
        });
    </script>
}

