@model AstWeb.Common.Models.W_Users
<ul class="layui-nav mo-nav" lay-filter="">
    <li class="layui-nav-item">
        <a href="javascript:;">导航<span class="layui-nav-more"></span></a>
        <dl class="layui-nav-child">
            <!-- 二级菜单 -->
            <dd><a href="@Url.Action("Index", "Home")">首页</a></dd>
            <dd><a href="@Url.Action("Index", "Astro")">星座</a></dd>
            <dd><a href="@Url.Action("Index","Astrolabe")">星盘</a></dd>
            <dd><a href="@Url.Action("Index","Astrology")">占星学院</a></dd>
            <dd><a href="@Url.Action("Index","StarTest")">星测</a></dd>
            <dd><a href="@Url.Action("Index","StarCartoon")">星漫</a></dd>
            <dd><a href="@Url.Action("Index", "StarSocial", new { CategoriesId = 0, pageIndex = 1 })">星社</a></dd>
            @if (!HttpContext.Current.User.Identity.IsAuthenticated)
            {
                <dd><a href="@Url.Action("Login","Account")">登录</a></dd>
                <dd><a href="@Url.Action("Register","Account")">注册</a> </dd>
            }
            else
            {
                <dd><a href="@Url.Action("Index", "Account", new { userId = Model.Id })"><img src="@Model.HeadPortrait" class="layui-nav-img">我</a></dd>
                <dd><a href="@Url.Action("LogOut", "Account")">退出</a></dd>
            }
        </dl>
    </li>
</ul>
