@using AstWeb.Common.Models;
@using AstWeb.Models;
@using AstWeb.Common.Infrastructure;
@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
    var categories = ViewBag.PostCategories as IList<AstWeb.Common.Models.PostCategory>;
    var user = ViewBag.user as W_Users;
    ViewBag.Title = "星座星语搜索引擎";
    ViewBag.KeyWords = "热门,热门帖子,评论最多,阅读最多的帖子";
    ViewBag.Description = "星座星语是包含海量资讯的占星服务平台，真实反映每时每刻的星座热点。您可以搜索星座新闻、星座话题、星座产品等，快速了解它们的最新进展。";
    var pm = ViewBag.Postmodel as SocialCount;
}
@model GetPagingResponse<Posts>

<div id="body" class="layui-container">
    <div class="page-news page-bbs">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-lg9 layui-col-md9 bbs-forum">
                <div class="news-list forum-title" style="margin-bottom:10px;">
                    <div class="moudle-card">
                        <div class="in-list">
                            <div class="layui-inline">
                                <input type="text" class="layui-input" placeholder="关键词" id="keyword">
                            </div>
                            <div class="layui-inline">
                                <button class="layui-btn zb-btn" onclick="seach()">搜索</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="news-list">
                    <div class="moudle-card">
                        @if (Model.IsSuccess)
                        {
                            foreach (var item in Model.Pages.Items)
                            {
                                <div class="bbs-list layui-anim layui-anim-up" tid="@item.Id">
                                    <div class="user-head">
                                        <a href="@Url.Action("Index", "Account", new { userId = item.TUserId })" tabindex="-1">
                                            <img src="@item.User.HeadPortrait" class="layui-anim layui-anim-scaleSpring">
                                        </a>
                                        @if (item.User.Gender == Gender.Man)
                                        {
                                            <i class="iconfont icon-nan" style="color:#5FB878"></i>
                                        }
                                        else
                                        {
                                            <i class="iconfont icon-nv" style="color:#f84b9c"></i>
                                        }
                                    </div>
                                    <div class="b-title">
                                        @if (item.IsTop == 1)
                                        {
                                            <div class="s-top">置顶</div>
                                        }
                                        @if (item.IsBoutique == 1)
                                        {
                                            <div class="s-two">精品</div>
                                        }
                                        @*<div class="s-three">已结账</div>*@
                                        <h4>
                                            <a href="@Url.Action("Detail", "StarSocial", new { postid = @item.Id })">
                                                @if (item.PostStatus == PostStatus.Close)
                                                {
                                                    <span style="color:#f84b9c">[已解决]</span>
                                                }
                                                else
                                                {
                                                    <span style="color:#FF5722">[待解决]</span>
                                                }
                                                @item.Title
                                            </a>
                                        </h4>
                                        <div class="s-tips">
                                            <span><a href="@Url.Action("Index", "Account", new { userId = item.TUserId })">@item.User.NickName</a></span>
                                            <span>在</span>
                                            <span>@item.TimeAgo</span>
                                            <span>发表于</span>
                                            <span class="s-right">
                                                <a href="@Url.Action("Index", "StarSocial", new { CategoriesId = item.PostCategory.Id })">@item.PostCategory.CategoryName</a>
                                            </span>
                                            <span class="s-right" style="color:#f84b9c"><i class="layui-icon" style="color:#f84b9c">&#xe735;</i>&nbsp;@item.Reward </span>
                                            <div class="s-times" style="top:15px">
                                                <span> @item.Hits</span>
                                                <span>阅读</span>
                                                <span>@item.CommentCount</span>
                                                <span>回复</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                        else
                        {
                            <span>暂无帖子</span>
                        }
                    </div>
                </div>
                @if (Model.IsSuccess)
                {
                    if (Model.Pages.TotalItems > 10)
                    {
                        <div id="pageHandle" style="text-align: center"></div>
                    }
                }
            </div>
            <div class="layui-col-lg3 layui-col-md3">
                <div class="news-side bbs-side">
                    <div class="moudle-card">
                        <div class="in-menu">
                            @if (!HttpContext.Current.User.Identity.IsAuthenticated)
                            {
                                <!-- 游客 -->
                                <div class="layui-btn-group">
                                    <a href="@Url.Action("Login","Account")" class="layui-btn zb-btn">用户登录</a>
                                    <a href="@Url.Action("Register","Account")" class="layui-btn zb-btn">新用户注册</a>
                                </div>
                            }
                            else
                            {
                                <!-- 登陆用户 -->
                                <div class="in-menu in-menu-one">
                                    <a href="@Url.Action("Add","StarSocial")" class="layui-btn zb-btn b-btn">发布帖子</a>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                @if (HttpContext.Current.User.Identity.IsAuthenticated)
                {
                    <div class="news-side bbs-side">
                        <div class="moudle-card left-author">
                            <div class="author-img">
                                <a class="nav-link" href="@Url.Action("Index", "Account", new { userId = user.Id })" tabindex="-1">
                                    <img class="avatar-xs layui-anim layui-anim-rotate layui-anim-loop" src="@user.HeadPortrait">

                                </a>
                            </div>
                            <div class="author-name author-name-u">
                                <a class="nav-link" href="@Url.Action("Index", "Account", new { userId = user.Id })">
                                    @user.NickName
                                    @if (user.Gender == Gender.Man)
                                    {
                                        <i class="iconfont icon-nan" style="color:#5FB878"></i>
                                    }
                                    else
                                    {
                                        <i class="iconfont icon-nv" style="color:#f84b9c"></i>
                                    }
                                </a>
                                <p style="color:#FF5722;font-weight:900;margin-bottom:0px;">@user.Title</p>
                            </div>
                            <div class="author-name author-name-u">
                                <a class="nav-link" href="">@user.Sign</a>
                            </div>
                            <ul class="in-list">
                                <li><a href="@Url.Action("Index", "Account", new { userId = user.Id })"><i class="layui-icon"></i> 个人中心</a></li>
                                <li><a href="@Url.Action("LogOut","Account")"><i class="layui-icon"></i> 退出</a></li>
                            </ul>
                        </div>
                    </div>
                }
                <div class="news-side bbs-side">
                    <div class="moudle-card">
                        <div class="in-title">
                            <h4>社区统计</h4>
                            <span class="line"></span>
                        </div>
                        <ul class="in-list">
                            <li>
                                <i class="layui-icon"></i>
                                <span>总帖子数 : </span>
                                <span>@pm.allpostcount</span>
                            </li>
                            <li>
                                <i class="layui-icon"></i>
                                <span>板块帖子数 : </span>
                                <span>@pm.catepostcount</span>
                            </li>
                            <li>
                                <i class="layui-icon"></i>
                                <span>用户数 : </span>
                                <span>@pm.usercount</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="news-side bbs-side">
                    <div class="moudle-card">
                        <div class="in-title">
                            <h4>社区版块</h4>
                            <span class="line"></span>
                        </div>
                        <ul class="in-list">
                            <li class="line">
                                <a href="@Url.Action("Index", "StarSocial",new { CategoriesId = 0,pageIndex=1 })"><i class="layui-icon"></i>热门帖子</a>
                            </li>
                            @if (categories != null && categories.Count > 0)
                            {
                                foreach (var item in categories)
                                {
                                    <li>
                                        <a href="@Url.Action("Index", "StarSocial", new { CategoriesId = item.Id,pageIndex=1 })"><i class="layui-icon"></i>@item.CategoryName</a>
                                    </li>
                                }
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script>
        $(function () {
            layui.use(["laypage"], function () {
                var laypage = layui.laypage, layer = layui.layer;
                laypage.render({
                    elem: 'pageHandle'
                    , count: '@(Model.IsSuccess?Model.Pages.TotalItems : 0)'
                    , curr: '@(Model.IsSuccess?Model.Pages.CurrentPage:1)'
                    , first: '首页'
                    , last: '尾页'
                    , theme: "#f84b9c"
                    , prev: '上一页'
                    , next: '下一页'
                    , jump: function (obj, first) {
                        var curr = obj.curr;
                        if (!first) {
                            var pathname = location.pathname.substring(0, location.pathname.indexOf('_'));
                            if (pathname != "") {
                                if (location.pathname === '@Url.Action("Seach", "StarSocial")') {
                                    location.href = pathname + "_" + curr;
                                }
                            } else {
                                location.href = "@Url.Action("Seach", "StarSocial", new { pageIndex = 1 })";
                            }
                        }
                    }
                });
            });
        });

        function seach() {
            var postdata = $("#keyword").val();
            location.href = "@Url.Action("Seach", "StarSocial",new {pageIndex=1})?title=" + postdata;
        }
    </script>
}
